/*-------------------------------- */
/*--                            -- */
/*--     1. Fonts               -- */
/*--     2. Normalize           -- */
/*--     3. Main                -- */
/*--       3.1 Icons            -- */
/*--       3.2 Buttons          -- */
/*--       3.3 Forms            -- */
/*--     4. Header              -- */
/*--     5. Content             -- */
/*--     6. Footer              -- */
/*--     7. Media               -- */
/*--                            -- */
/*-------------------------------- */
/* 1. FONTS */
/* ================================================ */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-CondensedBold.eot");
  src: url("../fonts/OpenSans-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-CondensedBold.woff2") format("woff2"), url("../fonts/OpenSans-CondensedBold.woff") format("woff"), url("../fonts/OpenSans-CondensedBold.ttf") format("truetype"), url("../fonts/OpenSans-CondensedBold.svg#OpenSans-CondensedBold") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* 2. NORMALIZE */
/* ================================================ */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  border-style: none;
  vertical-align: top;
}

input, textarea, select {
  padding: 0;
  margin: 0;
  font: 14px/1 "OpenSans", sans-serif;
  vertical-align: middle;
  color: #000;
  outline: none;
  border-style: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
}

label[for], input[type=checkbox], input[type=radio],
input[type=submit], button, select {
  cursor: pointer;
}

ul {
  list-style: none;
}

mark {
  background: none;
}

a {
  color: #000;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  color: #d0215c;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
  line-height: 18px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clr {
  *zoom: 1;
}
.clr:after {
  content: " ";
  display: table;
  clear: both;
}

/* main rules */
body {
  min-width: 320px;
  font: 14px/1 "OpenSans", sans-serif;
  font-weight: 300;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #363636;
}

html, body {
  height: 100%;
}

/* ==========================
 *     SLICK SLIDER
 * ======================== */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  display: table;
  content: "";
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  position: absolute;
  top: 50%;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

/* 3. MAIN STYLES */
/* ================================================ */
#container {
  min-height: 100%;
}

#content {
  padding-bottom: 140px;
}

#footer {
  margin-top: -140px;
}

.wrapper {
  position: relative;
  max-width: 1154px;
  padding: 0 20px;
  margin: 0 auto;
}

/* 3.1. Icons
 * ====================== */
.ic {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.ic--phone {
  background: url('../img/icons-s7171deed68.png') 0 -135px no-repeat;
  width: 15px;
  height: 16px;
}

.ic--btn-arrow {
  background: url('../img/icons-s7171deed68.png') 0 -26px no-repeat;
  width: 15px;
  height: 9px;
}

.ic--nav-arrow {
  background: url('../img/icons-s7171deed68.png') 0 -45px no-repeat;
  width: 18px;
  height: 10px;
}

.ic--btn-arrow-lg {
  background: url('../img/icons-s7171deed68.png') 0 0 no-repeat;
  width: 27px;
  height: 16px;
}

.ic--sale_arrow-left {
  background: url('../img/icons-s7171deed68.png') 0 -161px no-repeat;
  width: 128px;
  height: 128px;
}

.ic--sale_arrow-right {
  background: url('../img/icons-s7171deed68.png') 0 -437px no-repeat;
  width: 128px;
  height: 128px;
}

/* 3.2. Buttons
 * ====================== */
.btn, a.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 22px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: #003d6c;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:hover, a.btn:hover {
  background-color: #d0215c;
  text-decoration: none;
  color: #fff;
}
.btn_lg, a.btn_lg {
  padding: 11px 26px;
  font-size: 22px;
  background-color: #d0215c;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn_lg:hover, a.btn_lg:hover {
  border: 1px solid #fff;
  background-color: transparent;
}

/* 3.3. forms
 * ====================== */
input[type='text'],
input[type='number'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='url'],
input[type='password'],
textarea,
select {
  border: 1px solid #e9ecf1;
  background: #fff;
}
input[type='text'].form-control,
input[type='number'].form-control,
input[type='email'].form-control,
input[type='tel'].form-control,
input[type='search'].form-control,
input[type='url'].form-control,
input[type='password'].form-control,
textarea.form-control,
select.form-control {
  display: block;
  width: 100%;
}
input[type='text']:-ms-input-placeholder,
input[type='number']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='url']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #aaa;
}
input[type='text']:-moz-placeholder,
input[type='number']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='search']:-moz-placeholder,
input[type='url']:-moz-placeholder,
input[type='password']:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
  color: #aaa;
}
input[type='text']::-moz-placeholder,
input[type='number']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='url']::-moz-placeholder,
input[type='password']::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  color: #aaa;
}
input[type='text']::-webkit-input-placeholder,
input[type='number']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='url']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #aaa;
}
input[type='text']::placeholder,
input[type='number']::placeholder,
input[type='email']::placeholder,
input[type='tel']::placeholder,
input[type='search']::placeholder,
input[type='url']::placeholder,
input[type='password']::placeholder,
textarea::placeholder,
select::placeholder {
  color: #aaa;
}

textarea {
  height: auto;
  min-height: 100px;
  padding-top: 10px;
  resize: none;
  font-family: Arial;
}

label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

/* 4. HEADER */
/* ================================================ */
.head {
  padding: 30px 0 40px;
}

.logo {
  float: left;
  width: 215px;
}
.logo img {
  margin-bottom: 10px;
}
.logo span {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #003d6c;
}

.phone {
  float: right;
  text-align: right;
}
.phone ul {
  margin-bottom: 15px;
}
.phone ul i {
  margin-right: 10px;
  font-size: 20px;
}
.phone ul a {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #d0215c;
}
.phone .fa-long-arrow-right {
  margin-left: 8px;
}

#nav {
  position: relative;
  z-index: 9;
}

.nav-list {
  margin: 0 -15px;
}
.nav-list__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  padding: 0 15px 15px;
}
.nav-list__item:hover .dropdown {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nav-list a {
  font-size: 20px;
  font-weight: 700;
  color: #363636;
  text-transform: uppercase;
}
.nav-list a:hover {
  color: #d0215c;
}
.nav-list a i {
  margin-left: 4px;
  font-size: 22px;
  color: #9eadb9;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 5px;
  min-width: 185px;
  z-index: 1;
  background: #fff;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown a {
  display: block;
  padding: 10px;
}

.active {
  color: #d0215c !important;
}

/* 5. CONTENT */
/* ================================================ */
/* 5.1 index.html */
.primary {
  position: relative;
  padding: 115px 0 70px;
  background: url(../img/bg-primary.jpg) no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.primary-women {
  position: absolute;
  top: -170px;
  right: -80px;
  z-index: 1;
}
.primary h2 {
  display: block;
  width: 590px;
  margin-bottom: 40px;
  line-height: 70px;
  color: #fff;
}
.primary .title-up {
  text-transform: uppercase;
}
.primary .title-lg {
  font-size: 60px;
}
.primary i {
  margin-left: 10px;
}

.block-news {
  padding: 50px 0;
}

.news-list {
  position: relative;
  margin: 0 -15px;
}

.news {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding: 0 15px;
}
.news__img {
  margin-bottom: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.news__img:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}
.news__img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.news__text {
  padding-bottom: 40px;
}
.news__text h3 {
  text-transform: uppercase;
}
.news__text h3 a {
  color: #d0215c;
}
.news__text h3 a:hover {
  text-decoration: underline;
}
.news__text p {
  margin-bottom: 30px;
  line-height: 18px;
}
.news .btn {
  position: absolute;
  bottom: 0;
}

/* section about */
.about {
  padding: 50px 0;
  background-color: #f7f7f8;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}
.about .right {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}
.about-img {
  float: left;
  width: 48%;
  margin-right: 30px;
  margin-bottom: 40px;
}
.about-img img {
  display: block;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.about-text {
  margin-bottom: 40px;
}
.about-text p {
  font-size: 16px;
  line-height: 20px;
}

/* section product */
.product {
  padding: 50px 0;
}
.product-list {
  margin: 0 -15px;
}
.product h3 {
  margin-bottom: 30px;
  color: #d0215c;
}
.product-card {
  display: inline-block;
  width: 33.33%;
  margin-right: -4px;
  padding: 15px 15px 15px;
  margin-bottom: 20px;
}
.product-card:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.product-card:hover .product-card__title {
  color: #d0215c;
}
.product-card:hover img.second {
  opacity: 1;
}
.product-card__img {
  position: relative;
  display: block;
  margin-bottom: 30px;
  width: 100%;
  height: 210px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.product-card__img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  margin: 0 auto;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.product-card__img img.second {
  opacity: 0;
}
.product-card__title {
  color: #003d6c;
}
.product-card dt {
  width: 50%;
  float: left;
  margin-bottom: 5px;
}
.product-card dd {
  font-weight: 400;
  width: 50%;
  float: right;
  margin-bottom: 5px;
  text-align: center;
}

/* section sale-certificate */
.slider-block {
  padding: 50px 0;
  background-color: #f2f2f3;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}
.slider-block h4 {
  text-transform: uppercase;
  color: #d0215c;
}

.slider-sale, .slider-questions-answers {
  margin-bottom: 50px;
  background-color: #fff;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}
.slider-sale:hover, .slider-questions-answers:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
.slider-sale .slick-arrow, .slider-questions-answers .slick-arrow {
  border: none;
  z-index: 1;
  font-size: 20px;
  cursor: pointer;
}
.slider-sale .fa-chevron-right, .slider-questions-answers .fa-chevron-right {
  right: 10px;
}
.slider-sale .fa-chevron-left, .slider-questions-answers .fa-chevron-left {
  left: 10px;
}
.slider-sale__item img, .slider-questions-answers__item img {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.slider-questions-answers {
  margin-bottom: 0;
}

/* 5.2 parthner.html */
#partner {
  margin: 10% auto;
  width: 40%;
}
#partner fieldset {
  margin-bottom: 30px;
}
#partner input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
}
#partner input[type="submit"] {
  width: 25%;
}

/* 5.2 mattreses.html */
#mattreses .content, #pillows .content {
  padding: 20px 0;
}
#mattreses .slider-block, #pillows .slider-block {
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.sidebar {
  float: left;
  width: 18%;
  margin-right: 20px;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.sidebar h4 {
  margin-bottom: 10px;
  color: #d0215c;
  text-transform: uppercase;
}
.sidebar li {
  padding: 5px 0;
}
.sidebar a {
  font-size: 18px;
  font-weight: 700;
  color: #003d6c;
}
.sidebar a:hover {
  color: #d0215c;
}

.one {
  margin-bottom: 20px;
}

.cnt {
  height: 1%;
  overflow: hidden;
}
.cnt h2 {
  color: #d0215c;
  text-transform: uppercase;
}
.cnt .product-list {
  margin: 0 3px;
}

/* 5.3 contacts.html */
.contacts, .contacts-questions {
  margin-bottom: 50px;
}
.contacts h2, .contacts-questions h2 {
  font-size: 30px;
}
.contacts address, .contacts-questions address {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}
.contacts address a, .contacts-questions address a {
  text-decoration: underline;
}
.contacts address a:hover, .contacts-questions address a:hover {
  text-decoration: none;
}

/* 5.4 card.html */
.card {
  margin-bottom: 30px;
}
.card h4 {
  color: #d0215c;
  text-transform: uppercase;
}
.card-left {
  position: relative;
  float: left;
  width: 50%;
}
.card-slider {
  margin-bottom: 80px;
  text-align: center;
  border: 1px solid #e9ecf1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.card-slider img {
  display: block;
  width: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.card-slider-nav {
  position: absolute;
  width: 200px;
  left: 0;
  bottom: 10px;
}
.card-slider-nav__item {
  height: 100%;
  margin-right: 10px;
  border: 1px solid #e9ecf1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-align: center;
  font-size: 0;
  cursor: pointer;
}
.card-slider-nav__item:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.card-slider-nav__item.slick-current, .card-slider-nav__item:hover {
  border: 1px solid #d0215c;
}
.card-slider-nav__item img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.card dt {
  width: 50%;
  float: left;
  margin-bottom: 5px;
}
.card dd {
  font-weight: 400;
  width: 50%;
  float: right;
  margin-bottom: 5px;
}
.card-right {
  float: right;
  width: 45%;
}
.card-right select {
  width: 70%;
  margin-bottom: 20px;
  text-align: center;
}
.card-price {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
  color: #d0215c;
}
.card-tab {
  display: inline-block;
  border: 1px solid #e9ecf1;
}
.card-tab .nav-tab li {
  display: inline-block;
  padding: 12px 20px;
  background: #fff;
  border-bottom: 1px solid #e9ecf1;
  border-right: 1px solid #e9ecf1;
  border-left: 1px solid #e9ecf1;
}
.card-tab .nav-tab li:first-child {
  border-left: none;
}
.card-tab .nav-tab .active a {
  color: #d0215c;
}
.card-tab .nav-tab .active {
  border-bottom: none;
}
.card-tab .nav-tab a {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #363636;
}
.card-tab .nav-tab a:hover {
  text-decoration: none;
  color: #d0215c;
}
.card-tab .tab-cnt {
  padding: 20px;
  opacity: 1;
  -moz-transition: opacity 1.4s;
  -o-transition: opacity 1.4s;
  -webkit-transition: opacity 1.4s;
  -ms-transition: opacity 1.4s;
  transition: opacity 1.4s;
}
.card-tab .tab-cnt.hide {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opactiy=0);
}
.card-tab .tab-cnt-descr {
  margin-bottom: 30px;
}
.card-tab .tab-cnt-descr h5 {
  margin-bottom: 10px;
}
.card-tab .hide {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  z-index: -1;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opactiy=0);
}

/* 6. FOOTER */
/* ================================================ */
#footer {
  background-color: #003d6c;
  line-height: 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}
#footer .wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
#footer .copyright {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  margin-bottom: 0;
  width: 50%;
}
#footer address {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  width: 50%;
  font-style: normal;
  text-align: right;
}

/* 7. MEDIA */
/* ================================================ */
@media screen and (max-width: 1320px) {
  .primary-women {
    right: -20px;
  }
}
@media screen and (max-width: 1200px) {
  .primary-women {
    right: 0;
  }
}
@media screen and (max-width: 1100px) {
  .primary-women {
    width: 600px;
  }
  .primary-women img {
    display: block;
    max-width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .head {
    padding: 20px 0 30px;
  }

  h2 {
    font-size: 32px;
  }

  .primary {
    padding: 50px 0 40px;
  }
  .primary .title-lg {
    font-size: 56px;
  }
  .primary-women {
    width: 500px;
  }
}
