/*-------------------------------- */
/*--                            -- */
/*--     1. Fonts               -- */
/*--     2. Normalize           -- */
/*--     3. Main                -- */
/*--       3.1 Buttons          -- */
/*--       3.2 Forms            -- */
/*--     4. Header              -- */
/*--     5. Content             -- */
/*--     6. Footer              -- */
/*--     7. Media               -- */
/*--                            -- */
/*-------------------------------- */
/* 1. FONTS */
/* ================================================ */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-CondensedBold.eot");
  src: url("../fonts/OpenSans-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-CondensedBold.woff2") format("woff2"), url("../fonts/OpenSans-CondensedBold.woff") format("woff"), url("../fonts/OpenSans-CondensedBold.ttf") format("truetype"), url("../fonts/OpenSans-CondensedBold.svg#OpenSans-CondensedBold") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* 2. NORMALIZE */
/* ================================================ */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  border-style: none;
  vertical-align: top;
}

input, textarea, select {
  padding: 0;
  margin: 0;
  font: 14px/1 "OpenSans", sans-serif;
  vertical-align: middle;
  color: #000;
  outline: none;
  border-style: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
}

label[for], input[type=checkbox], input[type=radio],
input[type=submit], button, select {
  cursor: pointer;
}

ul {
  list-style: none;
}

mark {
  background: none;
}

a {
  color: #000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  color: #d0215c;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
  line-height: 18px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clr {
  *zoom: 1;
}
.clr:after {
  content: " ";
  display: table;
  clear: both;
}

/* main rules */
body {
  min-width: 320px;
  font: 14px/1 "OpenSans", sans-serif;
  font-weight: 300;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #363636;
}

html, body {
  height: 100%;
}

/* ==========================
 *     SLICK SLIDER
 * ======================== */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  display: table;
  content: "";
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  position: absolute;
  top: 50%;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

/* 3. MAIN STYLES */
/* ================================================ */
#container {
  min-height: 100%;
}

#content {
  padding-bottom: 140px;
}

#footer {
  margin-top: -140px;
}

.wrapper {
  position: relative;
  max-width: 1154px;
  padding: 0 20px;
  margin: 0 auto;
}

/* 3.1. Buttons
 * ====================== */
.btn, a.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #003d6c;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:hover, a.btn:hover {
  background-color: #d0215c;
  text-decoration: none;
  color: #fff;
}
.btn_lg, a.btn_lg {
  padding: 11px 26px !important;
  font-size: 22px;
  background-color: #d0215c;
  color: #fff;
  text-shadow: 1px 1px #000;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.btn_lg:hover, a.btn_lg:hover {
  background-color: #fff;
  color: #d0215c;
}

/* 3.2. forms
 * ====================== */
input[type='text'],
input[type='number'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='url'],
input[type='password'],
textarea,
select {
  border: 1px solid #e9ecf1;
  background: #fff;
}
input[type='text'].form-control,
input[type='number'].form-control,
input[type='email'].form-control,
input[type='tel'].form-control,
input[type='search'].form-control,
input[type='url'].form-control,
input[type='password'].form-control,
textarea.form-control,
select.form-control {
  display: block;
  width: 100%;
}
input[type='text']:-ms-input-placeholder,
input[type='number']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='url']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #aaa;
}
input[type='text']:-moz-placeholder,
input[type='number']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='search']:-moz-placeholder,
input[type='url']:-moz-placeholder,
input[type='password']:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
  color: #aaa;
}
input[type='text']::-moz-placeholder,
input[type='number']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='url']::-moz-placeholder,
input[type='password']::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  color: #aaa;
}
input[type='text']::-webkit-input-placeholder,
input[type='number']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='url']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #aaa;
}
input[type='text']::placeholder,
input[type='number']::placeholder,
input[type='email']::placeholder,
input[type='tel']::placeholder,
input[type='search']::placeholder,
input[type='url']::placeholder,
input[type='password']::placeholder,
textarea::placeholder,
select::placeholder {
  color: #aaa;
}

textarea {
  height: auto;
  min-height: 100px;
  padding-top: 10px;
  resize: none;
  font-family: "OpenSans", sans-serif;
}

label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

/* 4. HEADER */
/* ================================================ */
.head {
  padding: 20px 0;
}

.logo {
  float: left;
  margin-right: 40px;
}
.logo img {
  margin-bottom: 10px;
}
.logo span {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #003d6c;
}
.logo .btn-nav {
  display: none;
}

.phone {
  float: right;
  margin-left: 15px;
  text-align: right;
}
.phone ul {
  margin-bottom: 15px;
}
.phone ul i {
  margin-right: 10px;
}
.phone ul a {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #d0215c;
}
.phone .fa-handshake-o {
  margin-right: 8px;
}
.phone .fa-long-arrow-right {
  margin-left: 8px;
}

#nav {
  display: inline-block;
  margin-top: 93px;
}

.nav-list {
  display: inline-block;
}
.nav-list__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  padding: 0 10px 10px;
}
.nav-list__item:hover .dropdown {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nav-list a {
  font-size: 20px;
  font-weight: 700;
  color: #363636;
  text-transform: uppercase;
}
.nav-list a:hover {
  color: #d0215c;
}
.nav-list a i {
  margin-left: 4px;
  color: #9eadb9;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 5px;
  min-width: 185px;
  z-index: 30;
  background: #fff;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown a {
  display: block;
  padding: 10px;
}

.active {
  color: #d0215c !important;
}

/* 5. CONTENT */
/* ================================================ */
/* 5.1 index.html */
.primary {
  position: relative;
  padding: 80px 0;
  background: url(../img/bg-primary-new.jpg) no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.primary-woman {
  position: absolute;
  top: -90px;
  right: -190px;
  z-index: 1;
}
.primary .primary-title {
  width: 660px;
  position: relative;
  z-index: 5;
  margin-bottom: 40px;
  font-size: 44px;
  line-height: 80px;
  text-transform: none;
  color: #fff;
  text-shadow: 1px 1px #2F2F2F;
}
.primary .title-up {
  text-transform: uppercase;
}
.primary .title-lg {
  font-size: 70px;
}
.primary i {
  margin-left: 10px;
}

/* section info */
.info {
  padding: 50px 0;
}
.info-block {
  position: relative;
  margin: 0 -15px;
}

.news {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding: 0 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.news__img {
  margin-bottom: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.news__img:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}
.news__img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.news__text h4 {
  text-transform: uppercase;
}
.news__text h4 a {
  color: #d0215c;
}
.news__text h4 a:hover {
  color: #003d6c;
}
.news__text p {
  margin-bottom: 40px;
}
.news .btn {
  position: absolute;
  bottom: 0;
}

/* section about */
.about {
  padding: 40px 0 0;
  margin-bottom: 40px;
  background-color: #f7f7f8;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}
.about .right {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}
.about .right img {
  -webkit-box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.5);
  box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.5);
}
.about-img {
  float: left;
  width: 48%;
  margin-right: 30px;
  margin-bottom: 40px;
}
.about-img img {
  display: block;
  width: 100%;
  -webkit-box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.about-text {
  margin-bottom: 40px;
}
.about-text h3 {
  text-transform: none;
  color: #363636;
}
.about-text p {
  font-size: 16px;
  line-height: 20px;
}

/* section product */
.product {
  margin-bottom: 10px;
}
.product-list {
  margin: 0 -15px;
}
.product h2 {
  margin-bottom: 20px;
  color: #d0215c;
}
.product-card {
  display: inline-block;
  width: 33.33%;
  margin-right: -4px;
  padding: 15px;
  margin-bottom: 20px;
}
.product-card:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.product-card:hover .product-card__title {
  color: #d0215c;
}
.product-card:hover img.second {
  opacity: 1;
}
.product-card__img {
  position: relative;
  display: block;
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.product-card__img img {
  display: block;
  height: auto;
  width: 100%;
  margin: 0 auto;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.product-card__img img.second {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.product-card__title {
  color: #003d6c;
}
.product-card dt {
  width: 70%;
  float: left;
  margin-bottom: 5px;
}
.product-card dd {
  font-weight: 400;
  width: 30%;
  float: right;
  margin-bottom: 5px;
  text-align: center;
}

/* section sale-certificate */
.slider-block {
  padding: 0 0 50px;
  background-color: #f2f2f3;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}
.slider-block h4 {
  text-transform: uppercase;
  color: #d0215c;
}

.slider-sale, .slider-questions-answers {
  margin-bottom: 50px;
  background-color: #fff;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}
.slider-sale:hover, .slider-questions-answers:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
.slider-sale .slick-arrow, .slider-questions-answers .slick-arrow {
  border: none;
  z-index: 1;
  font-size: 20px;
  cursor: pointer;
}
.slider-sale .fa-chevron-right, .slider-questions-answers .fa-chevron-right {
  right: 10px;
}
.slider-sale .fa-chevron-left, .slider-questions-answers .fa-chevron-left {
  left: 10px;
}
.slider-sale__item img, .slider-questions-answers__item img {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.slider-questions-answers {
  margin-bottom: 0;
}

/* 5.2 parthner.html */
#partner {
  margin: 10% auto;
  width: 40%;
}
#partner input {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
}
#partner input[type="submit"] {
  width: 40%;
}
#partner .check-in {
  float: right;
}

/* 5.2 mattreses.html */
.content {
  margin-top: 20px;
}

.sidebar {
  float: left;
  width: 160px;
  margin-bottom: 40px;
  margin-right: 10px;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.sidebar h4 {
  margin-bottom: 5px;
  color: #d0215c;
  text-transform: uppercase;
}
.sidebar li {
  padding: 5px 0;
}
.sidebar a {
  font-size: 18px;
  font-weight: 700;
  color: #003d6c;
}
.sidebar a:hover {
  color: #d0215c;
}

.one {
  margin-bottom: 20px;
}

.cnt {
  height: 1%;
  overflow: hidden;
  padding: 0 20px;
  margin-bottom: 40px;
}
.cnt h1 {
  margin-bottom: 30px;
  font-size: 36px;
  color: #d0215c;
}
.cnt h1 span {
  text-transform: uppercase;
}

/* 5.3 contacts.html */
/* 5.4 mattreses-card.html */
.card {
  margin-bottom: 30px;
}
.card-left {
  position: relative;
  float: left;
  width: 50%;
}
.card-slider {
  margin-bottom: 80px;
  text-align: center;
  border: 1px solid #e9ecf1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.card-slider img {
  display: block;
  width: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.card-slider-nav {
  position: absolute;
  width: 200px;
  left: 0;
  bottom: 10px;
}
.card-slider-nav__item {
  height: 100%;
  margin-right: 10px;
  border: 1px solid #e9ecf1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-align: center;
  font-size: 0;
  cursor: pointer;
}
.card-slider-nav__item:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.card-slider-nav__item.slick-current, .card-slider-nav__item:hover {
  border: 1px solid #d0215c;
}
.card-slider-nav__item img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.card-right {
  float: right;
  width: 47%;
}
.card-right h5 {
  margin-bottom: 40px;
  font-size: 20px;
}
.card-right .card-select {
  width: 100% !important;
}
.card-price {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  float: left;
  margin-right: 40px;
  margin-left: 10px;
  font-size: 38px;
  font-weight: 700;
  color: #d0215c;
}
.card dl {
  margin-bottom: 40px;
}
.card dt {
  width: 70%;
  float: left;
  line-height: 18px;
}
.card dd {
  float: right;
  width: 30%;
  text-align: center;
  font-weight: 400;
}
.card-tabs .active {
  background-color: #fff !important;
  border-bottom: 1px solid #fff !important;
  border-top: 2px solid #d0215c !important;
}
.card-tabs .tabs {
  margin-left: 15px;
}
.card-tabs .tab {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #f7f7f8;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #e9ecf1;
}
.card-tabs .tab_content {
  border: 1px solid #e9ecf1;
}
.card-tabs .tab_item {
  min-height: 250px;
  padding: 15px;
}
.card-tabs .tab_item h5 {
  margin-bottom: 10px;
}
.card-tabs .tab_item p {
  margin-bottom: 20px;
}
.card-tabs .tab_item strong {
  font-size: 16px;
}

.select2-container {
  width: 35% !important;
  margin-bottom: 30px;
  text-align: center;
}
.select2-container:active, .select2-container:hover, .select2-container:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}

/* 6. FOOTER */
/* ================================================ */
#footer {
  background-color: #003d6c;
  line-height: 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}
#footer .wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
#footer .copyright {
  float: left;
  margin-right: 20px;
}
#footer .social {
  text-align: center;
}
#footer .social li {
  display: inline-block;
  padding: 0 5px;
  font-size: 30px;
}
#footer .social li a {
  color: #fff;
}
#footer .social li a:hover {
  color: #d0215c;
}
#footer .address {
  float: right;
  margin-left: 20px;
  font-size: 14px;
  font-style: normal;
  text-align: right;
}

/* 7. MEDIA */
/* ================================================ */
@media screen and (max-width: 1560px) {
  .primary-woman {
    width: 600px;
    top: -90px;
    right: -120px;
  }
  .primary-woman img {
    display: block;
    max-width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .primary-woman {
    width: 500px;
    right: 0;
  }
}
@media screen and (max-width: 1050px) {
  .primary-woman {
    width: 400px;
  }

  .logo {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1050px) {
  h4 {
    font-size: 20px;
  }

  .nav-list a {
    font-size: 17px;
  }
  .nav-list .dropdown {
    min-width: 160px;
  }

  .primary-woman {
    display: none;
  }

  .logo {
    margin-right: 20px;
  }

  .primary {
    text-align: center;
    margin: 0 auto;
  }
  .primary-title {
    margin: 0 auto;
  }

  .cnt {
    margin-bottom: 30px;
  }
  .cnt h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }
}
@media screen and (max-width: 945px) {
  .logo {
    margin-right: 10px;
  }
  .logo img {
    display: block;
    width: 180px;
  }
  .logo span {
    font-size: 14px;
  }

  .phone {
    margin-left: 10px;
  }
  .phone ul {
    margin-bottom: 10px;
  }
  .phone ul a {
    font-size: 20px;
    line-height: 24px;
  }

  .btn, a.btn {
    padding: 8px 10px;
  }

  #nav {
    margin-top: 75px;
  }

  .primary, .info, .about {
    padding: 40px 0;
  }

  .info-block {
    margin: 0 -10px;
  }

  .news {
    padding: 0 10px;
  }
  .news__img {
    margin-bottom: 20px;
  }

  .product-list {
    margin: 0 -10px;
  }

  .product-card {
    padding: 10px;
  }

  .sidebar {
    display: none;
  }

  .cnt {
    padding: 0 13px;
  }
}
@media screen and (max-width: 880px) {
  .head {
    padding: 20px 0 10px;
  }

  #nav {
    margin-top: 0;
  }

  .nav-list {
    display: none;
  }

  .nav-list {
    display: block;
    position: absolute;
    top: 100%;
    left: 25px;
    z-index: 30;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav-list.active {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .nav-list a {
    font-size: 18px;
  }
  .nav-list__item {
    display: block;
    margin-right: 0;
    padding: 8px;
  }
  .nav-list__item i {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .nav-list .dropdown {
    min-width: 130px;
  }

  .dropdown {
    left: 100%;
    top: 100%;
    margin-top: -37px;
  }

  .logo img {
    width: 150px;
    margin-bottom: 5px;
  }
  .logo span {
    margin-bottom: 10px;
    font-size: 13px;
  }
  .logo .btn-nav {
    display: inline-block;
    position: relative;
    margin-left: 30px;
    padding: 4px 25px;
  }
  .logo .btn-nav i {
    font-size: 22px;
  }

  .phone .btn {
    margin-right: 25px;
    font-size: 0;
  }
  .phone i {
    font-size: 14px;
  }

  .news {
    position: relative;
    width: 50%;
    margin-bottom: 40px;
    text-align: center;
  }
  .news__img {
    width: 50%;
    margin: 0 auto 20px;
  }
  .news__text p {
    margin-bottom: 20px;
  }
  .news .btn {
    left: 50%;
    margin-left: -74px;
  }

  .about-text h3 {
    font-size: 24px;
  }
  .about-text p {
    font-size: 14px;
  }

  .card-right h5 {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .card-price {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .primary {
    padding: 20px 0 50px;
  }
  .primary .primary-title {
    width: 550px;
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 70px;
  }
  .primary .title-lg {
    font-size: 60px;
  }

  .info, .about {
    padding: 20px 0;
  }

  .about {
    margin-bottom: 20px;
  }
  .about-img {
    margin-bottom: 20px;
  }
  .about-text {
    margin-bottom: 20px;
  }
  .about-text h3 {
    margin-bottom: 15px;
  }

  .product-card {
    width: 50%;
  }

  .product-list {
    margin: 0;
  }

  #footer .copyright {
    margin-right: 10px;
  }
  #footer .address {
    margin-left: 10px;
  }
}
@media screen and (max-width: 640px) {
  #footer {
    text-align: center;
  }
  #footer .copyright {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
  #footer .address {
    float: none;
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .primary .primary-title {
    width: 390px;
    font-size: 26px;
    line-height: 46px;
  }
  .primary .title-lg {
    font-size: 42px;
  }

  .card-left {
    float: none;
    width: 100%;
  }
  .card-left .card-slider {
    margin-bottom: 20px;
  }
  .card-right {
    width: 100%;
  }
  .card-right-select {
    width: 100%;
  }
  .card-price {
    font-size: 34px;
  }
  .card .select2-container {
    width: 50%;
  }
  .card dl {
    margin-bottom: 0;
  }
  .card-tabs .tabs {
    float: left;
    width: 80px;
    margin-left: 0;
  }
  .card-tabs .tabs .active {
    border-top: 1px solid #e9ecf1 !important;
    border-bottom: 1px solid #e9ecf1 !important;
    border-left: 2px solid #d0215c;
    border-right: 1px solid #fff;
  }
  .card-tabs .tab {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0;
  }
  .card-tabs .tab_item {
    overflow: hidden;
    height: 1%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    padding: 0 15px;
  }

  .news {
    width: 100%;
  }
  .news__img {
    width: 40%;
  }

  .about-img {
    float: none;
    width: 70%;
    margin-right: 15px;
  }
  .about .right {
    float: none;
    margin-left: 0;
  }

  .product-card {
    width: 100%;
  }
  .product-card__img {
    width: 80%;
    margin-bottom: 20px;
  }

  .card-price {
    font-size: 30px;
  }

  .card-tabs .tabs {
    width: 65px;
  }
  .card-tabs .tab {
    padding: 10px 0;
    font-size: 14px;
  }
  .card-tabs .tab_item {
    padding: 10px 5px 5px 10px;
  }
}
@media screen and (max-width: 420px) {
  .logo {
    margin-right: 0;
  }
  .logo img {
    width: 140px;
  }
  .logo span {
    font-size: 12px;
  }

  .phone {
    margin-left: 0;
  }
  .phone ul a {
    font-size: 18px;
    line-height: 22px;
  }

  .primary .primary-title {
    width: 290px;
    font-size: 19px;
    line-height: 38px;
  }
  .primary .title-lg {
    font-size: 31px;
  }
  .primary .btn_lg, .primary a.btn_lg {
    padding: 10px 20px !important;
    font-size: 16px;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .about-text h3 {
    font-size: 22px;
  }

  .cnt h1 {
    font-size: 28px;
  }
}
